# Introduction to Pandas
Prof. Dr. Mike Espig, WHZ â€“ University of Applied Sciences Zwickau

In this lesson we will consolidate the basic material from the lecture by practical exercises.

We'll learn about the following topics:
    
    1.) Practicum Titanic survival data

## Practicum: Titanic survival data

In [ ]:
import numpy as np
import pandas as pd

%matplotlib inline
import matplotlib.pyplot as plt

**Problem 1: 
Read the  Titanic survival data set "titanic.csv" from the "../datasets/lecture/" directory into a pandas DataFrame and display the first 13 rows.**

**Problem 2: What is the age distribution of the passengers?**


[Hint](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.hist.html)

**Problem 3: How does the survival rate of the passengers differ between sexes?**

[Hint1](https://pandas.pydata.org/pandasdocs/stable/reference/api/pandas.DataFrame.groupby.html), [Hint2](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.aggregate.html)

**Problem 4: What is the maximum Fare that was paid? And the median?**

**Problem 5: Select all rows for male passengers and calculate the mean age of those passengers. Do the same for the female passengers.**

**Problem 6: How many passengers on the Titanic were older than 70?**

**Problem 7: Calculate the average age for each sex again, but using groupby.**

**Problem 8: What is the difference in the survival ratio between the people blow and above the mean average age of all passengers.?**

**Problem 9: How does the survival ratio differ between the different classes? Make a bar plot visualizing the survival ratio for the 3 classes.**

**Problem 10: Make a bar plot to visualize the average Fare payed by people depending on their age. The age column is devided is separate classes using the [pd.cut](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.cut.html) function, make a cut between 10 years**